:root {
  --black: #1f1f1f;
  --black-800: #081e46;
  --black-1000: #000000;
  --white: #ffffff;
  --white-50: rgba(255, 255, 255, 0.582);
  --black-900: #202224;
  --pagination-text: var(--neutral-500);
  --border-default: --neutral-200;
  --default: var(--black);
  --black-dust: #1a1a1a;
  --nav-item:#333333;
  --nav-search:#CCCCCC;
  --nav_icon:#0099E5;
  --title-100:#0058A4;
  --gray-100:#4D4D4D;
  --light-gray:#666666;
  --dark-bg:#002D6D;
  --gray-200:#999999;
  --count-100:#CAF9FD;
  --accord-ion:#E6E6E6;
  --active-bg:#997EDF;
  --foot-100:#B3B3B3;

  // NEUTRAL-COLOR
  --neutral-cross: #d9d9d9;
  --neutral-40: #d5d7da;
  --neutral-50: #f0f0f0;
  --neutral-100: #e6e7e8;
  --neutral-200: #dadbdc;
  --neutral-300: #c0c2c5;
  --neutral-400: #81858a;
  --neutral-500: #434a51;
  --neutral-600: #040d17;
  --neutral-900: #010306;

  // BLUE COLOR
  --blue-700: #1c60af;
  --blue-600: #2680ea;
  --blue-400: #92bff4;
  --blue-100: #eaf3fd;
  --blue-300: #c8dff9;
  --blue-200: #dfecfc;
  --blue-50: #f7fafe;
  --blue-800: #1849d6;

  // GREY COLOR
  --grey-50: #e9eaeb;
  --grey-200: #64748b;
  --grey-100: #e2e8f0;
  --grey-300: #414651;
  --grey-600: #535862;
  --light-grey: #81858a;
  --dark-grey: #4a4a4a;
  --grey-150: #d6d6d6;
  --grey-400: #8080808c;

  --green-50: #f7fbf7;
  --green-100: #ecf4ec;
  --green-200: #2a6a2d;
  --green-400: #9bc69d;
  --green-600: #388e3c;
  --green-700: rgba(42, 106, 45, 1);
  --green-800: #42ff4b;

  --red: #ff0000;
  --red-50: #fdf7f7;
  --red-100: #f0c9c9;
  --red-300: #f2f2f2;
  --red-200: #f7dfdf;
  --red-700: #941e1e;

  --yellow-50: #fffdf5;
  --yellow-100: #fff5e6;
  --yellow-200: #fff6da;
  --yellow-300: #ffefc1;
  --yellow-400: #fff9e7;
  --yellow-500: #bf7200;
  --yellow-600: #ffc107;
  --yellow-700: #bf9105;
  --yellow-800: #806003;
  --yellow-900: #bf9105;

  // Orange
  --orange-50: rgba(255, 251, 245, 1);
  --orange-100: #fff5e6;
  --orange-200: #fff0d9;
  --orange-600: #ff9800;
  --orange-700: rgba(191, 114, 0, 1);

  --box-shadow: #0a0d1208;
  --box-shadow-100: #0000001f;
  --box-shadow-200: #0a0d1214;
  --grid-box-shadow: #0000000a;
  --model-shadow: rgba(0, 0, 0, 0.08);
  --dropdown-shadow: #0a0d1214;

  --default: #081e46;

  --loader-border: #6f7b93;
  --modal-bg: rgba(4, 13, 23, 0.3);
  --checkbox-border: #0d6efd;

  // FILTER COLOR
  --filter-600: rgba(0, 0, 0, 0.644);
  --canvas-shadow: #00000014;
  --feather-bg: #fafafa;

  // chunk shadow
  --chunk-shadow: #0a0d120d;
}
